@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Project Management System</h1>
    <p class="lead">Placeholder.</p>
</div>

<body>
   <p> @Html.ActionLink("Login","Index","User_Login") </p>
</body>
