@{
    ViewBag.Title = "Home Page";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/User_Login/Index");
    }
}
<body>
    <div>@Html.ActionLink("Logout", "LogOut", "User_login")</div
</body>

